body {
    background-color: #f2f2f2;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#wrapper {
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    fill-opacity: 0.5;
    padding: 20px;
    color: #f2f2f2;
}

nav {
    border-top: 3.5px solid #f2f2f2;
    background-color: #142f92;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #5190D3;
}

main {
    padding: 20px;
    background-color: #f2f2f2;
    color: #000000;
}

footer {
    border-top: 3.5px solid #67A4E6;
    padding: 50px;
    background-color: #1b1b2b;
    color: #5190D3;
    text-align: center;
}

.rubriques {
    text-align: left;
}

.rubriques ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.rubriques ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

.rubriques ul li a:hover {
    color: #5190D3;
}

.b1 {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: #5190D3;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.b1::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
}

.b1::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
}

.b1:hover::before,
.b1:hover::after {
    transform: scale(0)
}

.b1:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

.b2 {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

.b2 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
}

.b2 span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.b2:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

.b2:hover {
    color: white;
}

.b2:active span::before {
    background: #2751cd;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.profile img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 1400px;
}